@font-face {
    /*圓體*/
    font-family: 'cwTeXYen';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
        url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
        url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
}



body {
    font-family: 'cwTeXYen', verdana;
    margin: 0;
    padding-top: 30px;
}

html,
body,
#map {
    height: 500px;
}



.panel-primary {
    border-color: #009D97;
}
.panel-primary>.panel-heading {
    background-color: #009D97;
    border-color: #009D97;
}
.btn-primary {
    background-color: #009D97;
    border-color: #009D97;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #3176A1; /*set the color you want here*/
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #009D97;
    border-color: #009D97;
}



.btn {
    font-size: 16px;
}
label {
    font-size: 16px;
}
span {
    font-size: 16px;
}
.btn-full {
    width: 100%;
}



.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 100%;
}



.leaflet-control{
    visibility: hidden
}